/*******************************************PARTIE CENTRALE*/

.Main {
    background: #3f181c;
/* border: 1px solid wheat; */
    padding: 40px;
    display: flex;
    margin: 0 0;
    min-height: 90vh;
}
.Main img{
    max-width: 100%;

}

.coftext h2{
  font-family: "Playwrite AT", Arial, Helvetica, sans-serif;
  margin: 15vh 0 0 0; 
  padding: 20px;
  color: orange;
}

.coftext h3{
  font-family: Helvetica, sans-serif;
  margin: 2vh 0 2vh 0; 
  padding: 10px;
  font-size: 1.5rem;
  color: #b6b4b2;
}

.coftext p{
  font-family: Helvetica, sans-serif;
  margin: 1vh 0 2vh 0; 
  padding: 10px;
  font-size: 1rem;
  color: #b6b4b2;
}

.BTlink {                                   /* Bouton Order Now et Contact US*/
    /*border: 1px solid white;*/
    display: flex;
    padding: 15px 15px;
    width: line;
}

.BTOrdernow{                                 /* Bouton Order Now*/
    /*border: 2px solid rgb(0, 0, 0);*/
    margin: 0px 3vw; 
    padding: 10px;
    border-radius: 20px;
    background-color: orange;
    text-align: center;
    transition: 0.3s;
}
.BTOrdernow:hover {                             /*OrderNow HOVER*/
    background: #232323;
    border: 1px solid white;
    border-radius: 25px;
    transform: scale(1.5);
}
.BTOrdernow a:hover{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
}

.BTOrdernow a{
    color: black;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}


.BTContactus{                                    /* Bouton Contact US*/
    border: 1.5px solid white;
    margin: auto; 
    padding: 10px;
    border-radius: 20px;
}
.BTContactus a{
    color:white;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.BTContactus:hover{                             /*Contact Bouton HOVER*/
    transform: scale(1.5);
    background: #333333;
}
.BTContactus a:hover{
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    color: #FFFFFF;
}


    /********************************  Partie About ******************/

.About {
border: 1px solid green;
    background: white;
    width: line;
    min-height: 60vh;
    padding: 2vh 0;

}                     

.content-about{
    display: flex;
    margin: 5vh 5vw;
}
#couple{
    padding: 0 5VW;
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    border-radius: 50%;
}

.abtxt {
    text-align: center;
}
.abtxt h2{
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgba(51, 44, 42, 0.644);

}

hr.rounded {
    margin: 0 20%;
    border-top: 8px solid hwb(32 2% 22%);
    border-radius: 5px;
}

.abtxt p{
    margin: 10px 20%;
    text-align: center;
    padding: 0;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.Social-link img{
    height: 40px;
    width: 40px;
    padding: 1vw;
    filter: invert(65%);

}

.Social-link img:hover{
    transform: scale(1.5);
    filter: invert(0);
}

    /********************************  Partie Menu ******************/

.menu-page{
    background:#333333;
    width: line;
    padding: 2vh 0;
    height: 120vh;
}
.our-menu{
    text-align: center;
}

.our-menu h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgba(218, 209, 207, 0.719);
    margin-bottom: 10px;
    padding-bottom: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    
}
.our-menu hr{
    width: 5%;
    border-top: 8px solid hwb(32 2% 22%);
    border-radius: 5px;
    margin: 5px auto;
}
.contenair-menu{          /*  GRID  */
    margin: 5vh 5vw;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.Produits{
    display: block;
    border: 0px solid blanchedalmond;
    height: 40vh;
    width: 25vw;
    text-align: center;
    margin: 5vh 5px;
}

.Produits img{
    height: 25vh;
    object-fit: contain;
}

.Produits h3{
    font-family: Helvetica, sans-serif;
    padding: 20px 0;
    font-size: 1.5rem;
    color: #b6b4b2;
}

.Produits p{
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    color: #b6b4b2;
}
    /********************************  Partie Testim ******************/
