@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

* {    /* Suppr temporaire des puces sur les listes*/
/*  border: 1px white; */
    list-style: none;
}

body {   /* Suppression des marges pour background */
    margin: 0 0;
}

a{              /* suppr style lien URL */       
    text-decoration: none;
    color: aliceblue;
}
    /*********************** Bandeau Superieur HEADER  et NAV  ************************/
header{
    background: #3f181c;
    height: 6vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.toplogo {
    padding-left: 1vw;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    transform: scale(1.2);
    transition: transform 10s ease;
    color: hwb(177 0% 0% / 0.815); 
}

nav{
    padding-left: 40px;
    max-height: auto;
    justify-content: right;
}

ul{
display: flex;
text-align: center;
padding: 5px 30px;
}

li{
    margin: 0 15px;
    color: white;
    font-size: 1.3rem;
}

/* FOOTER */