
body{
       background: #3f181c;
}
/*** BACKGROUND****/

/*PARTIE CENTRALE*/

section {
/* border: 1px solid wheat; */
    display: flex;
    margin: 100px auto;
}

.coftext{
/*   border: 1px solid green; */
}
.coftext h2{
  font-family: "Playwrite AT", Arial, Helvetica, sans-serif;
  margin: 15vh 0 0 0; 
  padding: 20px;
  color: orange;
}

.coftext h3{
  font-family: Helvetica, sans-serif;
  margin: 2vh 0 2vh 0; 
  padding: 10px;
  font-size: 1.5rem;
  color: #b6b4b2;
}

.coftext p{
  font-family: Helvetica, sans-serif;
  margin: 1vh 0 2vh 0; 
  padding: 10px;
  font-size: 1rem;
  color: #b6b4b2;
}

.BTlink {                                   /* Bouton Order Now et Contact US*/
    /*border: 1px solid white;*/
    display: flex;
    padding: 15px 15px;
    width: line;
}

.BTOrdernow{                                 /* Bouton Order Now*/
    /*border: 2px solid rgb(0, 0, 0);*/
    margin: 0px 3vw; 
    padding: 10px;
    border-radius: 20px;
    background-color: orange;
    text-align: center;
    transition: 0.3s;
}
.BTOrdernow:hover {/*OrderNow HOVER*/
    background: none;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
}
.BTOrdernow a:hover{
    color: aliceblue;
}

.BTOrdernow a{
    color: black;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}


.BTContactus{                                    /* Bouton Contact US*/
    border: 1.5px solid white;
    margin: auto; 
    padding: 10px;
    border-radius: 20px;
}
.BTContactus a{
    color:white;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
