@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

* {

/*  border: 1px white; */
    list-style: none;
}

body {
    padding-left: 40px;
}
a{
    text-decoration: none;
    color: aliceblue;
}

header{
    max-height: 5vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toplogo {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

nav{
    max-height: auto;
    justify-content: right;
}

ul{
display: flex;
text-align: center;
padding: 5px 30px;
}

li{
    margin: 0 15px;
    color: white;
    font-size: 1.3rem;
}
